
@if(Channels!=null && Channels.Count>0 && Tabs!=null && Tabs.Count>0)
{
    <div>
        <br />
    <table>
        <thead>
            <tr>
                <th class="property">Name</th>
                <th class="value">Value</th>
            </tr>
        </thead>
        @foreach(Channel c in Channels)
        {
            <tr>
                <td class="property">@c.DisplayName</td>
                <td class="value">
                <div>
                    @JsonSerializer.Serialize(c)
                </div>
                <br />
                <div>
                    <ul>
                        @foreach(TeamsTab t in Tabs[c.Id])
                        {
                            <li>@JsonSerializer.Serialize(t)</li>        
                        }
                    </ul>
                </div>
                </td>
            </tr>
        }
    </table>
    </div>

}
else
{
    <Spinner></Spinner>
}



@code {
    
}
