@page "/"
@page "/tab"
@using TeamsExplorer.Components;

<div class="row">
    <div class="col-lg-12">        
            <RadzenCard>
                <MyTeamsExplorer />
            </RadzenCard>        
    </div>
</div>







