@using BlazorFluentUI.Lists
@using Microsoft.Graph
@using System.Text.Json

@if(Channels!=null && Channels.Count>0)
{
    <div>
        <br />
    <table>
        <thead>
            <tr>
                <th class="property">Name</th>
                <th class="value">Value</th>
            </tr>
        </thead>
        @foreach(Channel c in Channels)
        {
            <tr>
                <td class="property">@c.DisplayName</td>
                <td class="value">
                <div>
                    @JsonSerializer.Serialize(c)
                </div>
                <br />
                <div>
                    <ul>
                        @foreach(TeamsTab t in Tabs[c.Id])
                        {
                            <li>@JsonSerializer.Serialize(t)</li>        
                        }
                    </ul>
                </div>
                </td>
            </tr>
        }
    </table>
    </div>

   @* <DetailsList ItemsSource=@ListItems
         Columns=@Columns
         GetKey=@(item=>item.Key)
         LayoutMode="DetailsListLayoutMode.Justified"
         TItem="PropertyItem"
         SelectionMode="SelectionMode.None">
    </DetailsList>*@
}



@code {

    [Parameter]
    public System.Collections.Generic.List<Channel> Channels { get; set; }

    [Parameter]
    public Dictionary<string, System.Collections.Generic.List<TeamsTab>> Tabs { get; set; }
    
}
