@using Microsoft.Graph;
@using System.Text.Json

@if (TeamMembers != null && TeamMembers.Count > 0)
{
    <div>
        <br />
        <table>
            <thead>
                <tr>
                    <th class="displayname">Display Name</th>
                    <th class="role">Role</th>
                    <th class="details">Details</th>
                </tr>
            </thead>
            @foreach (var m in TeamMembers)
            {
                <tr>
                    <td class="displayname">@m.DisplayName</td>
                    <td class="role">@JsonSerializer.Serialize(m.Roles)</td>
                    <td class="details">@JsonSerializer.Serialize(m)</td>
                </tr>
            }
        </table>
    </div>

}


@code {

    [Parameter]
    public List<AadUserConversationMember> TeamMembers { get; set; }

}
