
@if(Values!=null && Values.Count>0)
{
    <div>
        <br />
    <table>
        <thead>
            <tr>
                <th class="property">Name</th>
                <th class="value">Value</th>
            </tr>
        </thead>
        @foreach(KeyValuePair<string, string> entry in Values)
        {
            <tr>
                <td class="property">@entry.Key</td>
                <td class="value">@entry.Value</td>
            </tr>
        }
    </table>
    </div>

}

@code {

    [Parameter]
    public Dictionary<string,string> Values { get; set; }

}
